<body>
    <app-banner></app-banner>

    <section class="p-4 lg:p-8 dark:bg-gray-100 dark:text-gray-800">
        <div class="container mx-auto space-y-12">
            <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row bg-white">
                <img src="../../assets/abbe-sublett-nxZDMUQhN4o-unsplash.jpg" alt="" class="h-80 dark:bg-gray-500 aspect-video">
                <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-50">
                    <h2 class="text-xs uppercase dark:text-gray-600" style="font-size: 2em;">LB Technologies</h2>
                    <div style="max-width: fit-content;">
                        <h2 class="text-3xl font-bold" style="background: #CC5B55; padding: 5px;">Pionieri del mondo IT</h2>
                    </div>
                    <p class="my-6 dark:text-gray-600" style="line-height: 1.5; font-weight: 700;color: black; font: normal normal 600 20px / 40px Inter;">La nostra azienda IT si impegna a fornire soluzioni tecnologiche innovative e su misura per soddisfare le esigenze specifiche dei nostri clienti. Con una vasta gamma di competenze che spaziano dallo sviluppo software alla sicurezza informatica, ci dedichiamo a guidare la trasformazione digitale delle imprese, offrendo servizi di consulenza e sviluppo di alta qualità per aiutare i nostri clienti a ottenere il massimo valore dalla tecnologia.</p>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse ">
                <img src="../../assets/ales-nesetril-Im7lZjxeLhg-unsplash.jpg" alt="" class="h-80 dark:bg-gray-500 aspect-video">
                <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-50">
                    <h2 class="text-xs uppercase dark:text-gray-600" style="font-size: 2em;">Il nostro lavoro</h2>
                    <div style="max-width: fit-content;">
                        <h2 class="text-3xl font-bold" style="background: #CC5B55; padding: 5px;">Smart</h2>
                    </div>
                    <p class="my-6 dark:text-gray-600" style="line-height: 1.5; font-weight: 700;color: black; font: normal normal 600 20px / 40px Inter;">Con una gestione autonoma del tempo e dello spazio, ciò favorisce la creatività e il benessere complessivo dei collaboratori, tra i migliori sparsi per il mondo.</p>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row bg-white">
                <img src="../../assets/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg" alt="" class="h-80 dark:bg-gray-500 aspect-video">
                <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-50">
                    <h2 class="text-xs uppercase dark:text-gray-600" style="font-size: 2em;">La nostra forza</h2>
                    <div style="max-width: fit-content;">
                        <h2 class="text-3xl font-bold" style="background: #CC5B55; padding: 5px;">Priorità alla conoscenza</h2>
                    </div>
                    <p class="my-6 dark:text-gray-600" style="line-height: 1.5; font-weight: 700;color: black; font: normal normal 600 20px / 40px Inter;">
                        La nostra azienda si distingue per tenere costantemente aggiornati i nostri clienti sulle ultime novità nel mondo dell'IT. Con un impegno costante nell'essere all'avanguardia, offriamo un servizio informativo accurato e tempestivo per mantenere i nostri clienti sempre al passo con le ultime tendenze e sviluppi nel settore tecnologico.</p>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</body>