
<body>
<app-banner></app-banner>

<div class="flex flex-col items-center justify-center" style="margin-top: 2em;">
    <h2 id="title1" class="mb-4">ULTIME NOTIZIE</h2>
    <div class="flex space-x-4 search">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca articolo" class="px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-100">
        <button (click)="onSearch()" class="px-4 py-2 bg-blue-500 text-white rounded-md">
            <span class="md:inline hidden">Cerca &nbsp;</span> <!-- Testo visibile solo su schermi più grandi di 414px -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button (click)="onClearSearch()" class="px-4 py-2 bg-gray-500 text-white rounded-md">
            <span class="md:inline hidden">Reset &nbsp;</span> <!-- Testo visibile solo su schermi più grandi di 414px -->
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
    </div>
</div>





<div class="max-w-screen-xl p-5 mx-auto dark:bg-gray-100 dark:text-gray-800">
    <div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
        <!-- Itera su tutte le notizie nella lista newsList -->
        <ng-container *ngFor="let news of newsList">
        
            <div class="relative flex items-end justify-start w-full text-left dark:bg-gray-500 bg-center bg-cover h-96" style="background-image: url('../../assets/sfondoTec1.jpg')">
                <!-- Overlay semitrasparente -->
                <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-70"></div>
                
                <!-- Contenuto dell'immagine -->
                <div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
                    <a rel="noopener noreferrer" href="#" class="px-3 py-2 text-xs font-semibold tracking-wider uppercase dark:text-gray-800 dark:bg-violet-600 " style="font-weight: bold;"> <button type="button" class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md dark:bg-violet-600 dark:text-gray-50" style="z-index: 999; font-size: 1.5em;"><a [href]="news.url" target="_blank">Read more</a></button></a>
                    <div class="flex flex-col justify-start text-center dark:text-gray-800">
                        <span class="text-3xl font-semibold leading-none tracking-wide text-white">{{ news.time * 1000 | date }}</span>
                    </div>
                </div>
                <h2 class="z-10 p-5" >
                    <a rel="noopener noreferrer" href="#" style="pointer-events: none;" class="text-xl font-semibold leading-none tracking-wide text-white">{{ news.title }}</a>
                </h2>
            </div>
            
        </ng-container>
    </div>
</div>

<div class="flex flex-col items-center justify-center" style="margin-top: 2em;margin-bottom: 3em;">
	<div class="flex -space-x-4">
	    <button (click)="onLoadMore()" type="button" class="px-8 py-3 font-semibold rounded dark:bg-gray-800 dark:text-gray-100">Load More</button>
    </div>
</div>





<app-footer></app-footer>
</body>

